* {
  padding: 0px auto;
  margin: 0px auto;
}

/* general styles */
.container {
  width: 80%;
}
.pill {
  background-color: #d2bef2;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 50px;
}
button {
  background-color: #000;
  color: #fff;
  padding: 16px 16px;
  border: 0px;
  border-radius: 26px;
  font-size: 15px;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

/* hero section */
.hero {
  padding: 60px 0px;
  background-color: #f8f7f4;
  display: flex;
  justify-content: center;
}
.hero .heading {
  padding: 40px 0px;
}
.hero .heading h1 {
  max-width: 870px;
  font-size: 72px;
  text-align: center;
  line-height: 76px;
  font-weight: 400;
}
.hero .sub-text p {
  max-width: 1000px;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  font-weight: 400;
}
.hero .cta {
  padding-top: 20px;
  text-align: center;
}

/* Carousel section */

.professional-carousel {
  padding: 60px 0px;
  background-color: #fab8b8;
  display: flex;
  justify-content: center;
}
.carousel-container {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
}
.carousel-container .carousel-item {
  background-size: cover;
  background-repeat: no-repeat;

  padding: 20px;
  width: 200px;
  height: 240px;
  border-radius: 24px;
  display: flex;
  align-items: flex-end;
}
.carousel-container .carousel-item .content {
  margin: 0px;
  color: #fff;
}
.carousel-container .carousel-item .content h4 {
}
.carousel-container .carousel-item .content h5 {
}
.carousel-container .carousel-item .content .qualifications {
  padding: 10px 0;
  display: flex;
  gap: 6px;
}
.carousel-container .carousel-item .content .qualifications .qualification {
  border: 0.5px solid #cccccc;
  padding: 2px 6px;
  border-radius: 24px;
  font-size: 14px;
}
